:root {
  --branding-color: #eedfdf;
  --heading-font-family: "Caveat", cursive;
  --text-font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  text-align: center;
}
h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h3 {
  font-size: 36px;
  font-family: var(--text-font-family);
}
p {
  font-family: var(--text-font-family);
  text-align: center;
}

.hero,
.work-page,
.about-page,
.contact-page {
  padding: 90px 60px;
}
.hero h1 {
  margin: 20px 0 0 20px;
}

.hero h2 {
  font-size: 24px;
  font-family: var(--text-font-family);
  margin: 20px 0 0 20px;
}
.hero p {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 36px;
  padding: 20px 0 0;
}
.dictionary img {
  display: block;
  margin: 0 auto;
}

.work-page h1 {
  font-family: var(--text-font-family);
  font-size: 52px;
}

.work-page h2 {
  font-size: 42px;
  font-weight: bold;
  margin: 30px;
}
.work-page p {
  font-size: 18px;
  margin: 30px;
}
.description {
  padding: 60px;
}

.img-size,
.about-page img {
  max-width: 400px;
  border-radius: 60px;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
}

.about-page img {
  max-width: 400px;
  margin-top: 100px;
}
.about-page p {
  line-height: 1.5;
}

.btn-branding {
  background-color: var(--branding-color);
  font-family: var(--text-font-family);
  font-weight: bold;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 36px;
  transition: all 200ms ease-in-out;
}

.logo {
  max-width: 40px;
  border-radius: 50%;
}
.nav-bar {
  background-color: var(--branding-color);
  font-family: var(--text-font-family);
  font-size: 18px;
}
.footer-container {
  border: 2px solid var(--branding-color);
  padding: 0 60px;
  border-radius: 4px;
}
.footer-container a,
.contact-page a {
  text-decoration: none;
  color: #000000;
  font-size: 56px;
  font-family: var(--heading-font-family);
}
.footer-container a:hover,
.contact-page a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 36px;
}
.icon a {
  margin: 0 20px 0 20px;
  font-size: 24px;
  color: white;
  background-color: var(--branding-color);
  border-radius: 50%;
  border: 1px solid var(--branding-color);
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}
.icon a:hover {
  color: var(--branding-color);
  background-color: white;
}

hr {
  border-top: 3px solid var(--branding-color);
}

.contact-page h2 {
  font-family: var(--text-font-family);
  font-size: 24px;
}
.code-source {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family: var(--text-font-family);
  transition: all 200ms ease-in-out;
}
.code-source:hover {
  text-decoration: underline;
}
@media (max-width: 960px) {
  h1 {
    line-height: 1.1;
  }
  h2 {
    font-weight: bold;
    line-height: 1.5;
    font-size: 36px;
  }
  .hero,
  .work-page,
  .about-page {
    padding: 60px 0;
    text-align: center;
  }
  .hero h1,
  .hero h2 {
    margin: 20px 0 0 0;
  }

  .description {
    padding: 30px;
  }
  .work-page h1 {
    font-size: 36px;
  }

  .work-page h2,
  .work-page p {
    margin: 0;
    line-height: 1.5;
  }
  .work-page a {
    margin: 25px 0 0 0;
  }

  .about-page h1,
  .contact-page h1 {
    font-size: 46px;
    line-height: 1.5;
  }
  .footer-container a,
  .contact-page a {
    font-size: 36px;
  }
  .about-page img {
    max-width: 250px;
  }
  .contact-page h2 {
    font-size: 18px;
  }
}
